@import url('https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fjpeg&attachment_token=AOo0EEWBW2c8laMDFzdnOlfIPptGgCRqGNCujUwxwfDJOejJkCvpld8xgjmxtGHKak8kncBSUTi1%2B5YVWLHnUCcE5OlTrxITav6uShhHxe7zhhhs41b0G9GPgQAhd0lBdpcbcArcGuPJViUkMzPBFFKFY5rN6q3qWJIbPGhPNWAA%2B5S7P%2BGa6oRhXNj0NAMGSVfJijeaqJxPKAW7tqfyxSLV5wmMGrl9YKJi82w1XkmP7a%2F1zFhsE9Twq1Cp1lgl490DQvxOMwUDqTp1bmS%2Furye87cpwgJB8CvgLMqlCeHMInPUafLHx7zqnXvPGEm4BUgWCACRsHx4N4FySJyor1MDeki3uWK4A%2BFSIMg3YpWVotFg9tsUcBiomvVeGP3Pa0%2FCLzztK0lhmnJYjThedin90DLdg8vMez9oXiUGsAkoOsnB1XR9GngwW2RgoDsYKoqHGVIJMOJ0Ba%2BAaIhxcZIgL%2BwF0ZQFnAEWbw%2F4HEBFm%2FwwWWARLuR5w5619zGYmse3wQ2QQ6ss86qA9TfQKIkrLS6Iar%2BrdUQKr6QMiYyEDcLT1BOEy06iNJlgDZGRfiLhInczwlKVhod4KxstfelqWiT0N3OpKSkQypDseQW7q5m3lUVFSnau%2F4TTZ3v0wVrnWoTaqCM%3D&allow_caching=true&sz=w512');

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: rgb(185, 147, 111);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Poppins", "sans-serif";
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#titulo{
    color: #ffffff;
    size: 5vw;
    text-align: center;
}

.container {
    height: 100dvh;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    size: 4vw;
}

.card {
    margin: auto;
}

#info-login {
    background-color: #ffd89e;
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    box-shadow:  2px 2px 20px 2px rgb(0, 0, 0);   
}

#info-login img {
    border-radius: 50%; width: 15vw;
}

#info-login * {
    margin: 16px 0;
}

#form-login {
    color:#ffffff;
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 16px;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.2);
}

#form-login label, #form-login p{
    margin: 10px 0 5px;
}

#form-login input[type="submit"], #form-login input[type="text"], #form-login input[type="email"], #form-login input[type="password"], #form-login select {
    height: 40px;
    background-color: rgba(255, 255, 255);
    border-radius: 16px;
    min-width: 200px;
    border: none;
    padding: 10px;
    color: #000000;
    font-family: 'Inter', 'sans-serif';
    font-weight: 400;
    font-style: italic;
    font-optical-sizing: auto;
}

#form-login input[type="submit"]{
    width: 100px;
    border-radius: 20px;
    align-self: center;
    background-color: #ffffff;
    color: #000000;
    transition: all 0.3s ease-in-out;
}

input, select {
    transition: all 0.3s ease-in-out;
}

input:hover, select:hover {
    transform: scale(1.02);
}

#form-login input[type="submit"]:hover{
    transform: scale(1.05);
    opacity: 50%;
}

.form-group {
    display: flex;
    gap: 16px;
    border-radius: 16px;
    border: none;
    padding: 10px;
}

#sexo label {
    font-family: 'Inter', 'sans-serif';
    font-weight: 400;
    font-style: italic;
    font-optical-sizing: auto;
    
}

#termos-e-condicoes {
    align-self: center;
    margin: 20px 0;
}

@media (max-width: 768px) {
    .container{
        grid-template-columns: none;
        grid-template-rows: 0fr 1fr;
    }

    #info-login{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 18px 20px;
    }

    #info-login * {
        margin: 0 16px;
    }
}

@media (max-width: 1024px) {
    .container{
        grid-template-columns: none;
        grid-template-rows: 0fr 1fr;
    }

    #info-login{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 18px 20px;
    }

    #info-login * {
        margin: 0 16px;
    }
}
